.b-t{
    display: flex;
    align-items: center;
    justify-content: center;
}
.b-t>tr>th{
    display: flex;
    align-items: center;
    justify-content: space-around;

    border: 1px solid #333355;

}
.r-t{
    display: flex;
    flex-direction: row;
}
.d-t{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    min-width: 80px;
    width: 10vw;
    height: 10vh;
   margin: 5px;
   border: 1px solid #6464a7;
   background-color: aliceblue;
   color: #5b5b75; 
   overflow: scroll;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.d-t::-webkit-scrollbar{
    display: none;
}
.drop{
    text-decoration: none;
    color:  #3c3c61; 
}
.b-t>.r-t>.d-t{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10vw;
    height:20vh;
   margin: 5px;
   border: 1px solid #6464a7;
   color: #6464a7;
}
.b-t::-webkit-scrollbar{
    display: none;
}
.sale-form{
    position: absolute;
    right: 10%;
    width: 20vw;
}
.sale-form>button{
    position: relative;
    bottom: 10%;
    width: 10vw;
    height:20vh;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #444477;
    color: #888888;
    font-weight: bold;
}