*{
    padding: 0;
    margin: 0;
}
header{
    height: 20vh;
    display: flex;
    background-color: #333333;
    color: #999999;
    align-items: center;
    justify-content: center;
}

.main{
    min-height: 80vh;
    background-color: #333344;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.back{
    position: relative;
    right: 0;
    left: 30%;
   text-decoration: none;
   color: #999999;
}
.re-f{
    height:auto;
    width: 30vw;
    padding: 5%;
    background-color: #333355;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.re-i{
    display: flex;
    flex-direction: column;
    color: #999999;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    row-gap: 4px;
}
.re-i>input{
    height: 2rem;
    border-radius: 0.3rem;
    font-size: 18px;
    color: #888888;
    font-weight: bold;
}
.re-i>button{
    width: 5.4rem;
    height: 1.7rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #444477;
    color: #888888;
    font-weight: bold;
}
.re-i>button:hover{
    background-color: #666699;
    color: #aaaaaa;
}
.re-o{
    display: flex;
    gap: 10px;
}
.m-e{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 2%;
    background-color: #333355;
    height: 100vh;
    width: 80vw;
}

.card{
    height: 25vh;
    width: 12vw;
    border: #66aaEE 1px solid;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: #68688f;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #333333;
    overflow: hidden;
}

.card>img{
    height: 70%;
    
    
}
.card>h5{
  position: relative;
  top: 10%;
 left: 2%;
}