.con{
    min-height: 80vh;
    background-color: #333344;
    display: flex;
    width: 100%;
}
.hot{
    border: 3px solid #272744;
    width: 200vw;
    height: 70vh;
}
.hot>img{
   height: 70vh;
   width: 20vw;
   border-radius: 50%;
   
}